apiVersion: apps/v1
kind: Deployment
metadata:
  name: openwebui-deploy
  namespace: k3s
spec:
  strategy:
    type: Recreate
  replicas: 1
  selector:
    matchLabels:
      app: openwebui
  template:
    metadata:
      labels:
        app: openwebui
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: kubernetes.io/hostname
                operator: In
                values:
                - {{ hostname_node_openwebui_1 }}
      containers:
      - name: openwebui
        image: ghcr.io/open-webui/open-webui:main
        resources:
          limits:
            memory: {{ openwebui_limit_mem }}
        ports:
        - containerPort: 8080
        env:
        - name: OLLAMA_BASE_URL
          value: "http://ollama-svc.k3s.svc.cluster.local:11434"
        tty: true