apiVersion: v1
kind: Service
metadata:
  name: openwebui-svc
  namespace: k3s
spec:
  type: NodePort
  selector:
    app: openwebui
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
      nodePort: {{ port_k3s_http }}