apiVersion: apps/v1
kind: Deployment
metadata:
  name: ollama-deploy
  namespace: k3s
spec:
  strategy:
    type: Recreate
  replicas: {{ ollama_replicas }}
  selector:
    matchLabels:
      app: ollama
  template:
    metadata:
      labels:
        app: ollama
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: przeznaczenie
                operator: In
                values:
                - ollama
      containers:
      - name: ollama
        image: ollama/ollama:{{ ollama_tag }}
        resources:
          limits:
            memory: {{ ollama_limit_mem }}
        ports:
        - containerPort: 11434
        volumeMounts:
        - name: nfs-volume
          mountPath: /root/.ollama
        tty: true
      volumes:
        - name: nfs-volume
          nfs:
            server: {{ nfs_serwer_ip }}
            path: {{ nfs_serwer_path }}
            readOnly: no